@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #E6E8E6;
    
}

.strong-titulo{
    color: #22D4FD;
}

*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao-conteudo-texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao-links-subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight:400;

}

.apresentacao-conteudo-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao-links-botao{
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 21.5px 0px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color:#F6F6F6;
    font-weight: 600;

}